<!-- <div id="CurrentSelections" class='selections'>

</div> -->

<div class="filter-container">
    <div class="helptext">Inpatient
    </div>
</div>

<div class='graph-container'>
    <div class='kpi' id='kpi1'></div>
    <div class='kpi' id='kpi2'></div>
    <div class='kpi' id='kpi3'></div>
</div>

<div class='graph-container'>
    <div class='kpi' id='kpi4'></div>
    <div class='kpi' id='kpi5'></div>
</div>

<div class="filter-container">
    <div class="helptext">Emergency
    </div>
</div>

<div class='graph-container'>
    <div class='kpi' id='kpi6'></div>
    <div class='kpi' id='kpi7'></div>
    <div class='kpi' id='kpi8'></div>
</div>

<div class="filter-container">
    <div class="helptext">OR
    </div>
</div>

<div class='graph-container'>
    <div class='kpi' id='kpi9'></div>
</div>

<div class="filter-container">
    <div class="helptext">Observation
    </div>
</div>

<div class='graph-container'>
    <div class='kpi' id='kpi10'></div>
    <div class='kpi' id='kpi11'></div>
    <div class='kpi' id='kpi12'></div>
</div>

<div class="filter-container">
    <div class="helptext">Outpatient
    </div>
</div>

<div class='graph-container'>
    <div class='kpi' id='kpi13'></div>
    <div class='kpi' id='kpi14'></div>
</div>
