@font-face {
  font-family: 'QlikView Sans';
  src: url(./assets/calibri.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'QlikView Sans';
  src: url(./assets/Calibri_Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'QlikView Sans';
  src: url(./assets/calibri.ttf) format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'QlikView Sans';
  src: url(./assets/Calibri_Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'QlikView Sans';
  src: url(./assets/Calibri_Bold.ttf) format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'LUI icons';
  src: url(./assets/lui-icons.ttf) format('truetype');
}

.topnav {
  overflow: hidden;
  background: #4477aa;
  background: -moz-linear-gradient(left, #ffffff 0%, #4477aa 100%);
  background: -webkit-linear-gradient(left, #ffffff 0%, #4477aa 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #4477aa 100%);
  background: -ms-linear-gradient(left, #ffffff 0%, #4477aa 100%);
  background: linear-gradient(to right, #ffffff 0%, #4477aa 100%);
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}

/* .topnav {
    overflow: hidden;
    background-color: #152456;
    border-style: solid;
    border-width: 2px; 
    border-color: #152456;
  } */

.topnav a {
  float: left;
  color: #152456;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 19px;
  font-weight: bold;
  font-family: 'QlikView Sans'
}

/* .topnav a:hover {
    background-color: #ddd;
    color: black;
  } */

.topnav img {
  height: 25px;
  max-width: 200px;
}

/* .TJUH_logo {
  background-color: white;
} */

.filter {
  height: 50px;
  width: 200px;
  padding: 10px;
}

.kpi {
  height: 180px;
  width: 100%;
  /* margin: 20px */
}

.content {
  padding: 10px;
  width: 100%;
}

.chart {
  height: 800px;
  width: 100%;
  margin: 20px;
}

.filter-container {
  display: flex;
  justify-content: left;
}

.qlik-filter-container {
  height: 30px;
  width: 100%;
  /* justify-content: left */
  /* margin: 20px; */
}

.qlik-filter {
  height: 30px;
  width: 25%;
  justify-content: left;
  margin: 15px
}

.data-container {
  display: flex;
  padding: 10px;
}

/* .chart-container {
} */

/* .kpi-container {
  flex-grow: 1;
  align-self: center;
  margin-left: 10px;
} */

.CurrentSelections {
  height: 40px;
  width: 100%;
}
.qv-subtoolbar-button{
  display:none;
  }
  
  .qv-selections-pager {
  display: none;
  } 
  .buttons-end {
    display: none;
  }
.text-wrap>.name{
  color: #152456;
  width: 100%;
}
.text>.values{
  color: #47484b;
  width: 100%;
}
.current-selection-elem{
  width: 250px !important;
}
.current-selection-elem:hover{
  background-color: #b2b5b8 !important;
}
.wrap{
  background-color: #4477aa;
  background: -moz-linear-gradient(left, #ffffff 0%, #4477aa 100%);
  background: -webkit-linear-gradient(left, #ffffff 0%, #4477aa 100%);
  background: -o-linear-gradient(left, #ffffff 0%, #4477aa 100%);
  background: -ms-linear-gradient(left, #ffffff 0%, #4477aa 100%);
  background: linear-gradient(to right, #ffffff 0%, #4477aa 100%);
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.1); */
}
.borderbox{
  border: none !important;
}
.qv-object-title-text{
  font-size: 18px;
}
/* body{
  background-image: url('./assets/images/tjuh.jpg');
  background-color: #cccccc;
} */

/* .dropdown-list input[type="search"] {
  padding: 5px 0;
} */

.graph-container{
  display: flex;
  width: 100%;
  padding: 20px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-container {
  width: 200px;
  margin: 10px;
  font-size: 14px;
  font-family: sans-serif;
  position: relative;
}

.instructions {
  width: 100%;
  text-align: center;
}

.dropdown-button {
  float: left;
  width: 100%;
  background: whitesmoke;
  padding: 10px 12px;
  cursor: pointer;
  border: 1px solid lightgray;
  box-sizing: border-box;
}

.dropdown-button .dropdown-label,
.dropdown-button .dropdown-quantity {
  float: left;
}

.dropdown-button .dropdown-quantity {
  margin-left: 4px;
}

.dropdown-button .fa-filter {
  float: right;
}

.dropdown-button .fa-refresh {
  float: right;
}

.dropdown-list {
  position: absolute;
  top: 40px;
  width: 100%;
  border: 1px solid lightgray;
  box-sizing: border-box;
  z-index: 2;
  background-color: white;
}

.semi-square {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.dropdown-list{
  display: none
}

.dropdown-list ul {
  max-height: 200px;
  overflow-y: auto;
  border: 1px;
  cursor: pointer;
}

ul li {
  border: 1px black;
}

.dropdown-list ul input[type="checkbox"] {
  position: relative;
  top: 2px;
  border: 1px;
}

.dropdown-container:hover > .dropdown-list {
  display: block;
}

.selections {
  height: 50px;
  width: 100%;
}

.options {
  display: none
}

.S {
  background-color: green;
  color: white;
}

.O {
  background-color: white;
  color: black;
}

.X {
  background-color: rgb(221, 220, 220);
  color: black;
}

.lui-popover-container{  
  position: fixed !important;
  z-index: 1000 !important;
} 

.helptext {
  float: left;
  /* color: #152456; */
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  /* font-size: 22px; */
  font-size: 35px;
  font-weight: bold;
  font-family: 'QlikView Sans'
}

.tju-modal {
  display: block;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 20 !important;
  /* Sit on top */
  padding-top: 120px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
}

.tju-modal .tju-modal-content {
      background-color: #fefefe;
      margin: auto;
      padding: 10px;
      border-top: 6px solid black;
      width: 20%;
      height: 10%;
      font-family: 'QlikView Sans';
      font-weight: bold;
      font-size: 30px;
      }
